.login_cont{
    display: flex;
    justify-content: space-between;
}
.login_form{
    display: flex;
    width: 900px;
    flex-flow: column;
    margin: 0 auto;
    margin-bottom: 20px;
    
   
}
.login_form input,label,.btn_login{
    margin: 0 auto;
    padding: 1em;
    width: 550px;
    font-size: 20px;
    outline-color:rgb(76, 135, 208) ;
}
.login_form input{
    border: .4px solid lightgray;
    border-radius: 5px;
}
.login_form .btn_login{
    width: 200px;
    padding: .5em;
    margin-top: 1em;
    border: .4px solid lightgray;
    border-radius: 5px;
    background-color: rgb(76, 135, 208);
    color: whitesmoke;

}

.login_img img{
 border-bottom-right-radius: 70px;
 width: 535px;
}
.login_title h4{
  text-align: center;
  font-size: 55px;
  margin-bottom: 0;
  margin-top: 20px;
  font-weight: 190;
}

.filter_bar{
    width: 97%;
    height: 50px;
   margin-bottom: 40px;
    background-color: lightgray;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.filter_bar select{
    padding: .4em;
    font-size: 20px;
    border: none;
    margin-left: 10px;
    margin-top: 10px;
    border-top:.5px solid black;
    border-bottom:.5px solid black; 
    outline: none;
}
.filter_bar select:hover{
    background-color: wheat;
}
 .cartt p{
     position: absolute;
     top: 70px;
     right: 20px;
    background-color: whitesmoke;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    font-size: 39px;
    cursor: pointer;
}
.cart p:hover{
    background-color: wheat;
}
.profile_sec{
    display: flex;
}
.upload_img img{
  width: 600px;  
 height: 490px;
 border-bottom-right-radius: 80px ;
}
.cart_cont{
    position:absolute;
    right: 5px;
    top: 140px;
    background-color: rgb(245, 252, 255);
    width: 400px;
    border: .3px solid lightgray;
    z-index: 999;
  
}
.cart_qw{
    position: fixed;
}
.cart_title {
  border-bottom: .3px solid lightgray;
  
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.cart_title p{
    cursor: pointer;
}
.cart_title p:hover{
    color: red;
}
.cart_title h3{
    font-size: 28px;
    font-weight: 200;
    margin-left: 5px;

  
}
.cart_total{
    margin: 20px;
}

.cart_item_info{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.item_info{
    /* padding-left: 1em;
    padding-right: 1em; */
    text-decoration: none;
    
}

.cart_checkout{
    width: 200px;
    padding: .5em;
    margin-left: 8em;
    border: .4px solid lightgray;
    border-radius: 5px;
    background-color: rgb(76, 135, 208);
    color: whitesmoke;
}