.container{
    display: flex;
    background-color: #000000;
    padding-bottom: 120px;
}
.hero_img img{
    width: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-left-radius:220px ;
}
.hero_txt{
    text-align: center;
    width: 75%;
    font-size: 6vh;
    margin-top: 3em;
    padding-left: 30px;
    font-weight: 180;
    color: rgb(213, 209, 209);
    text-shadow: .3px .3px 7px lightgray;
}
.main_btn{
    text-decoration: none;
    font-size: 25px;
    color:rgb(213, 209, 209);
    border: .8px solid rgb(213, 209, 209);
    padding: .4em;
    position: absolute;
    left: 370px;
    bottom: 260px;
    
}
.main_btn:hover{
    box-shadow: .3px .3px 19px .5px rgb(244, 215, 215) ;
}
@media screen and (max-width: 575px){
    .container{
        flex-flow: column-reverse;
    }
    .hero_img img{
        width: 360px;
        border-bottom-left-radius:0px ;
        margin-left: 1em;
        margin-bottom: 4em;
        
    }
    .hero_txt{
        font-size: 25px;
        margin-left: 1em;
        margin-top: 0;
       
    }
    .main_btn{
        position:static;
        margin-left:5em;
        color:rgba(213, 209, 209, 0.503);
        border: .8px solid (213, 209, 209, 0.503);

    }
}