.footer{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 27px 20px;
    background-color: rgb(249, 219, 163);
}
.footer p{
    font-size: 13px;
    font-style: italic;
}
.find_us{
    display: flex;
    list-style-type: none;
}
.find_us li{
    margin: 0 10px 0 10px;
}