.footer{
    position:fixed;
    bottom: 0px;
    width: 97%;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 10px 20px;
    background-color: #cdab67;
}
.footer p{
    font-size: 13px;
    font-style: italic;
    color: whitesmoke;
}
.find_us{
    display: flex;
    list-style-type: none;
}
.find_us li{
    margin: 0 10px 0 10px;
    color: whitesmoke;
}

@media screen and (max-width: 575px){
    .footer{
        padding: 10px;
        background-color:#684005 ;
       
    }
    .footer p{
        font-size: 14px;
    }
    .find_us li{
        margin: 5px;
        font-size: 10px;
    }
}