.nav{
    display: flex;
    justify-content: space-between;
    margin: 2em;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: .3px solid lightgray;
    background-color: whitesmoke;
    width: 100%;
}
.nav h1{
 font-size: 35px;
 font-weight: 400;
 margin-left: 1em;
 text-decoration: none;
}
.navigate ul{
 display: flex;
 list-style-type: none;
 margin-right: 2em;

}
.navigate ul li{
    margin: 25px;
    font-size: 19px; 
    cursor: pointer;
}

.divide{
    margin-left: 2em;
    text-decoration: none;
    font-size: 20px; 
    color: black;
    border: 1px solid black;
    padding: .5em 1em .5em 1em;
    border-radius: 27px;
}