.contain{
    display: flex;
    flex-direction: row-reverse;
    padding-top: 40px;
    background-color: whitesmoke;
 
}
.contain2{
    display: flex;
    padding-top: 20px;
    background-color: whitesmoke;
 
}
.about_img img{
    width: 650px;
    border-top-right-radius:80px;
    border-bottom-right-radius:80px;
    padding-bottom: 30px;
}
.about_img2 img{
    width: 650px;
    border-top-left-radius:80px;
    
}

.about_txt{
    text-align: left;
    margin-left: 25px;
    font-size: 25px;
    font-weight: 200;
    letter-spacing: 2px;
    margin: 30px;
}
h3{
 text-align: right;
 margin: 0 80px 0 80px;
 font-weight: 200;
 font-size: 4vw;
}
.contain2 h3{
    text-align: left;
}